name: Run Stock Engine

on:
  schedule:
    # 08:30 IST = 03:00 UTC
    - cron: "0 3 * * *"
    # 15:30 IST = 10:00 UTC
    - cron: "0 10 * * *"
  workflow_dispatch:

jobs:
  run-engine:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repo
      uses: actions/checkout@v4

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.11"

    - name: Install Dependencies
      run: pip install yfinance pandas numpy pytz

    - name: Run Stock Engine
      env:
        GITHUB_ACTIONS: true
      run: python stock_engine.py

    - name: Commit Outputs
      run: |
        git config --global user.email "actions@github.com"
        git config --global user.name "GitHub Actions"

        git add output/*

        git commit -m "Daily auto-update" || echo "No changes"
        git push || true
